<!-- New Note -->
<!-- ++++++++ -->
<div class="container col-sm-6 col-sm-offset-3 col-xs-12">
    <form>

        <div class="form-group"> <!-- Title field -->
            <label class="control-label " for="name">Title</label>
            <input class="form-control" id="name" name="name" type="text"/>
        </div>

        <div class="form-group"> <!-- Subject field -->
            <label class="control-label " for="subject">Subject</label>
            <input class="form-control" id="subject" name="subject" type="text"/>
        </div>

        <div class="form-group"> <!-- Message field -->
            <label class="control-label " for="message">Message</label>
            <textarea class="form-control" cols="40" id="message" name="message" rows="10"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary " name="submit" type="submit">Submit</button>
        </div>

    </form>
</div>
